@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.hidden {
    display: none;
}

#tasksTitle {
    margin-top: 200px;
}

#graphicsTitle {
    margin: 200px 0px 100px 0px; /* topo | direita | inferior | esquerda */
}

.title {
    color: white;
    font-family: "Chakra Petch", serif;
    text-align: center;
    font-size: 50px;
}

header {
    position: fixed;
    top: 0;
    background-color: black;
    box-shadow: 0px 5px 5px white; /* distância x | distância y | blur | cor */
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

menu {
    display: flex;
    margin: 0px 20px;
}

.headerButton {
    padding: 10px;
    margin: 10px;
    margin-left: 0px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    font-family: "Chakra Petch", serif;
    transition: all .3s ease-in-out;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerButton:hover {
    background-color: white;
    transform: scale(1.1);
    color: black;
    cursor: pointer;
}

.headerButton:hover > img {
    filter: invert(1);
}

.headerButton > img {
    width: 30px;
}

#headerContent {
    width: 90vw;
    display: flex;
    align-items: center;
    margin: 20px;
    justify-content: space-between;
}

#headerContent > div {
    display: flex;
    align-items: center;
}

#headerContent > div > h1 {
    color: white;
    font-family: "Chakra Petch", serif;
}

#headerContent > div > a > img {
    width: 50px;
    margin: 0px 10px 0px 20px; /* topo | direita | inferior | esquerda */
}

#graphicsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#barGraphics {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.graphicBar {
    width: 40px;
}

#graphicsDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    flex-direction: row-reverse;
}

#selectGraphics {
    color: white;
    font-family: "Chakra Petch", serif;
    background-color: black;
    border-radius: 5px;
}

#graphicsColorsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#graphicsColorsDiv > div > div {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#graphicsColorsDiv > div {
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

#graphicsColorsDiv > div > p {
    color: white;
    font-family: "Chakra Petch", serif;
    font-size: 20px;
}

#search {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50px;
    outline: none;
    color: white;
    font-family: "Chakra Petch", serif;
    font-size: 20px;
    width: 100%;
    padding-left: 20px;
    height: 50%;
}

#searchButton {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    font-family: "Chakra Petch", serif;
    transition: all .1s ease-in-out;
    position: absolute;
    right: 11%;
}

#filterButton {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    font-family: "Chakra Petch", serif;
    transition: all .1s ease-in-out;
    position: absolute;
    right: 16%;
}

#searchButton:hover, #filterButton:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#containerSearch {
    width: 800px;
    margin: 0px 20px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 100px;
}

#tasks {
    color: white;
    font-family: "Chakra Petch", serif;
    transition: all .3s ease-in-out;
    display: flex;
    flex-wrap: wrap;
}

.taskButtonsDiv {
    display: flex;
    align-items: center;
}

.taskButtonsDiv > button {
    padding: 10px;
    margin: 10px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    font-family: "Chakra Petch", serif;
    transition: all .3s ease-in-out;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.taskButtonsDiv > button:hover {
    background-color: white;
    transform: scale(1.1);
    color: black;
    cursor: pointer;
}

.taskButtonsDiv > button:hover > img {
    filter: invert(1);
}

.taskButtonsDiv > button > img {
    width: 30px;
}

#showAddTaskMenuButton > p {
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    font-family: "Chakra Petch", serif;
    font-size: 100px;
}

#showAddTaskMenuButton {
    display: flex;
    margin: 20px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    font-size: 50px;
    color: white;
    border-radius: 20px;
    border: 1px solid white;
    transition: all .3s ease-in-out;
}

#showAddTaskMenuButton:hover {
    background-color: white;
    transform: scale(1.1);
    color: black;
    cursor: pointer;
}

.taskAllInformationsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskInformationDiv {
    display: flex;
    flex-direction: column;
}

.taskNameDiv {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 125px;
}

.taskTitle {
    font-size: 30px;
}

.taskDescription {
    margin-left: 2px;
    margin-bottom: 10px; 
}

.taskDate, .taskPriority, .taskProgress {
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    margin: 5px 0px;
}

#tasks {
    font-family: "Chakra Petch", serif;
    color: white;
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task {
    border: 1px solid white;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
}

body {
    background-color: black;
    transition: all .3s ease-in-out;
}

.button {
    padding: 10px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    font-family: "Chakra Petch", serif;
    transition: all .3s ease-in-out;
}

.button:hover {
    background-color: white;
    transform: scale(1.1);
    color: black;
    cursor: pointer;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.container > #addFilter {
    color: white;
    font-family: "Chakra Petch", serif;
    width: 50vw;
    height: 50vh;
    padding: 100px;
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    border-radius: 25px;
    border: 1px solid white;
    box-shadow: 10px 5px 5px white; /* distância x | distância y | blur | cor */
}

.container > #addFilter > select {
    color: white;
    font-family: "Chakra Petch", serif;
    background-color: black;
    border-radius: 5px;
}

.container > #addFilter > label {
    margin: 20px 0px 5px 0px; /* topo | direita | inferior | esquerda */
}

.container > #addTasks {
    color: white;
    font-family: "Chakra Petch", serif;
    width: 50vw;
    height: 50vh;
    padding: 100px;
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    border-radius: 25px;
    border: 1px solid white;
    box-shadow: 10px 5px 5px white; /* distância x | distância y | blur | cor */
}

.container > #addTasks > select {
    color: white;
    font-family: "Chakra Petch", serif;
    background-color: black;
    border-radius: 5px;
}

.container > #addTasks > label {
    margin: 20px 0px 5px 0px; /* topo | direita | inferior | esquerda */
}

.container > #addTasks > input {
   background-color: transparent;
   border: 1px solid white;
   border-radius: 5px;
   outline: none;
   color: white;
   font-family: "Chakra Petch", serif;
   padding-left: 5px;
}

.container > #addTasks > #addTaskButton {
    margin-top: 30px;
}

.container > #addTasks > #closeTaskMenuButton {
    margin: 20px 0px; /* cima e baixo | esquerda e direita */
}
 