@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --main: white;
    --main-image: invert(0);
    --main-inverse: black;
    --main-image-inverse: invert(1);
    --text-color: var(--main);
    --back-color: var(--main-inverse);
    --border-default: 1px solid var(--main);
    --header-shadow: 0px 5px 5px var(--main);
    --menus-shadow: 10px 5px 5px var(--main);
    --back-inverse-color: var(--main);
    --text-inverse-color: var(--main-inverse);
}

img {
    filter: var(--main-image);
}

body {
    overflow-x: hidden;
}

.hidden {
    display: none;
}

#pageContent {
    margin-top: 200px;
}

#graphicsTitle {
    margin: 200px 0px 100px 0px; /* topo | direita | inferior | esquerda */
}

#menuButton > img {
    width: 30px;
}

#menuButton:hover > img {
    filter: var(--main-image-inverse);
}

#taskInformation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#exportTasksDiv {
    color: var(--text-color);
    font-family: "Chakra Petch", serif;
    width: 50vw;
    height: 50vh;
    padding: 100px;
    justify-content: center;
    flex-direction: column;
    background-color: var(--back-color);
    border-radius: 25px;
    border: var(--border-default);
    box-shadow: var(--menus-shadow); /* distância x | distância y | blur | cor */
}

.title {
    color: var(--text-color);
    font-family: "Chakra Petch", serif;
    text-align: center;
    font-size: 50px;
    word-break: break-all;
}

header {
    position: fixed;
    top: 0;
    background-color: var(--back-color);
    box-shadow: var(--header-shadow); /* distância x | distância y | blur | cor */
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

@media (max-width: 700px) {
    #headerContent {
        flex-direction: column;
    }
    #divActionButtons {
        top: 76%;
    }
}

@media (min-width: 700px) {
    #divActionButtons {
        top: 70%;
    }
}

@media (max-width: 430px) {
    #graphicsDiv {
        flex-direction: column;
    }
    #graphicsDiv > div {
        margin-top: 20px;
    }
}

@media (min-width: 430px) {
    #graphicsDiv {
        flex-direction: row-reverse;
    }
}

@media (max-width: 330px) {
    #headerContent > div > h1 {
        display: none;
    }

    #headerContent > div > a {
        display: none;
    }

    .taskAllInformationsDiv {
        flex-direction: column;
    }
    .taskInformationDiv {
        margin-left: 0px;
    }
    .taskNameDiv {
        justify-content: center;
        align-items: center;
    }
    .taskDescription {
        margin-left: 0px;
        text-align: center;
    }
    .taskButtonsDiv {
        flex-direction: column;
    }
}

@media (min-width: 330px) {
    .taskNameDiv {
        align-items: start;
    }
    .taskInformationDiv {
        margin-left: 50px;
    }
}

@media (max-width: 280px) {
    #graphicsColorsDiv > div {
        flex-direction: column;
        justify-content: center;
    }
    #graphicsColorsDiv > div > div {
        margin-right: 0px;
    }
    #graphicsColorsDiv > div > p {
        word-break: break-word;
        width: 80%;
        text-align: center;
    }
}

@media (min-width: 280px) {
    #graphicsColorsDiv > div > div {
        margin-right: 10px;
    }
}
 
@media (max-width: 300px) {
    menu {
        margin: 20px 20px;
        flex-direction: column;
    }
    .headerButton {
        margin-left: 10px;
    }
}

@media (min-width: 300px) {
    menu {
        margin: 0px 20px;
    }
    .headerButton {
        margin-left: 0px;
    }
}

#graphicsDiv > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#tasksJSON, #tasksCSV {
    width: 200px;
    color: var(--text-color);
    border: var(--border-default);
    padding: 10px;
}

#tasksExportInformation, #tasksExportInformation > div {
    display: flex;
    align-items: center;
}

#tasksExportInformation {
    justify-content: space-between;
    margin-bottom: 20px;
}

#tasksExportInformation > div {
    justify-content: center;
    flex-direction: column;
}

#addFilter, #addTimer, #addTasks, #exportTasksDiv {
    max-width: 500px;
}

menu {
    display: flex;
}

.headerButton {
    padding: 10px;
    margin: 10px;
    background-color: transparent;
    border: var(--border-default);
    color: var(--text-color);
    border-radius: 5px;
    font-family: "Chakra Petch", serif;
    transition: all .3s ease-in-out;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerButton:hover {
    background-color: var(--back-inverse-color);
    transform: scale(1.1);
    color: var(--text-inverse-color);
    cursor: pointer;
}

.headerButton:hover > img {
    filter: var(--main-image-inverse);
}

.headerButton > img {
    width: 30px;
}

#headerContent {
    width: 90vw;
    display: flex;
    align-items: center;
    margin: 20px;
    justify-content: space-between;
    transition: height .3s ease-in-out;
}

#headerContent > div {
    display: flex;
    align-items: center;
}

#headerContent > div > h1 {
    color: var(--text-color);
    font-family: "Chakra Petch", serif;
}

#headerContent > div > a > img {
    width: 50px;
    margin: 0px 10px 0px 20px; /* topo | direita | inferior | esquerda */
}

#graphicsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#barGraphics {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.graphicBar {
    width: 40px;
    transition: height .5s ease-in-out;
}

#graphicsDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

#selectGraphics {
    color: var(--text-color);
    font-family: "Chakra Petch", serif;
    background-color: var(--back-color);
    border-radius: 5px;
}

#graphicsColorsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#graphicsColorsDiv > div > div {
    width: 20px;
    height: 20px;
}

#graphicsColorsDiv > div {
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

#graphicsColorsDiv > div > p {
    color: var(--text-color);
    font-family: "Chakra Petch", serif;
    font-size: 20px;
}

#search {
    background-color: transparent;
    border: var(--border-default);
    border-radius: 50px;
    outline: none;
    color: var(--text-color);
    font-family: "Chakra Petch", serif;
    font-size: 20px;
    width: 75%;
    padding: 0px 20px;
    height: 50%;
    text-overflow: ellipsis;
}

#searchButton {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    font-family: "Chakra Petch", serif;
    transition: all .1s ease-in-out;
}

#divActionButtons {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    position: absolute;
    right: 13vw;
    animation: popupOpen .3s ease-in-out;
}

#filterButton {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    font-family: "Chakra Petch", serif;
    transition: all .1s ease-in-out;
    margin: 0px 5px;
}

#searchButton:hover, #filterButton:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#containerSearch {
    width: 100%;
    margin: 0px 20px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 100px;
    animation: popupOpen .3s ease-in-out;
}

#tasks {
    color: var(--text-color);
    font-family: "Chakra Petch", serif;
    transition: all .3s ease-in-out;
    display: flex;
    flex-wrap: wrap;
}

.taskButtonsDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 10px;
}

.taskButtonsDiv > button {
    padding: 10px;
    margin: 10px;
    background-color: transparent;
    border: var(--border-default);
    color: var(--text-color);
    border-radius: 5px;
    font-family: "Chakra Petch", serif;
    transition: all .3s ease-in-out;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.taskButtonsDiv > button:hover {
    background-color: var(--back-inverse-color);
    transform: scale(1.1);
    color: var(--text-inverse-color);
    cursor: pointer;
}

.taskButtonsDiv > button:hover > img {
    filter: var(--main-image-inverse);
}

.taskButtonsDiv > button > img {
    width: 30px;
}

#showAddTaskMenuButton > p {
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    font-family: "Chakra Petch", serif;
    font-size: 100px;
}

#showAddTaskMenuButton {
    display: flex;
    margin: 20px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    font-size: 50px;
    color: var(--text-color);
    border-radius: 20px;
    border: var(--border-default);
    transition: all .3s ease-in-out;
}

#showAddTaskMenuButton:hover {
    background-color: var(--back-inverse-color);
    transform: scale(1.1);
    color: var(--text-inverse-color);
    cursor: pointer;
}

.taskAllInformationsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskInformationDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.taskNameDiv {
    display: flex;
    flex-direction: column;
    width: 125px;
}

.taskTitle {
    font-size: 30px;
}

.taskDescription {
    margin-left: 2px;
    margin-bottom: 10px; 
}

.taskDate, .taskPriority, .taskProgress {
    border-radius: 20px;
    padding: 15px;
    font-size: 15px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--border-default);
    margin: 5px 0px;
}

#tasks {
    font-family: "Chakra Petch", serif;
    color: var(--text-color);
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task {
    border: var(--border-default);
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    transition: all .3s ease-in-out;
}

body {
    background-color: var(--back-color);
    transition: all .3s ease-in-out;
}

.button {
    padding: 10px;
    background-color: transparent;
    border: var(--border-default);
    color: var(--text-color);
    border-radius: 5px;
    font-family: "Chakra Petch", serif;
    transition: all .3s ease-in-out;
}

.button:hover {
    background-color: var(--back-inverse-color);
    transform: scale(1.1);
    color: var(--text-inverse-color);
    cursor: pointer;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    animation: popupOpen .3s ease-in-out;
}

@keyframes popupOpen {
    0% {
        transform: scale(0);
    }  
    100% {
        transform: scale(1);
    }
}

@keyframes popupClose {
    0% {
        transform: scale(1);
    }  
    50% {
        transform: scale(0);
        display: none;
    }
}

#noTaskGraphicWarning {
    color: var(--text-color);
    font-family: "Chakra Petch", serif;
    text-align: center;
    font-size: 30px;
    word-break: break-word;
    width: 60%;
}

#timerButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#timerButtons > button {
    margin: 10px;
}

#addTimer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.frameTimer {
    width: 50px;
    height: 150px;
    mask-image: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(175,174,48,0) 100%);
}

#timer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timerButton {
    background-color: transparent;
    padding: 10px;
    color: var(--text-color);
    border-radius: 5px;
    font-family: "Chakra Petch", serif;
    transition: all .3s ease-in-out;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timerDown {
    transform: rotate(180deg);
}

.timerButton:hover {
    background-color: var(--back-inverse-color);
    transform: scale(1.1);
    color: var(--text-inverse-color);
    cursor: pointer;
}

.timerButton:hover > img {
    filter: var(--main-image-inverse);
}

.timerButton > img {
    width: 30px;
}

.timerSlider {
    margin: 0px 10px;
    position: relative;
    top: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container > #addTimer {
    color: var(--text-color);
    font-family: "Chakra Petch", serif;
    width: 50vw;
    height: 50vh;
    padding: 100px;
    display: flex;
    background-color: var(--back-color);
    border-radius: 25px;
    border: var(--border-default);
    box-shadow: var(--menus-shadow); /* distância x | distância y | blur | cor */
}

.container > #addFilter {
    color: var(--text-color);
    font-family: "Chakra Petch", serif;
    width: 50vw;
    height: 50vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--back-color);
    border-radius: 25px;
    border: var(--border-default);
    box-shadow: var(--menus-shadow); /* distância x | distância y | blur | cor */
}


.container > #addFilter > select {
    color: var(--text-color);
    font-family: "Chakra Petch", serif;
    background-color: var(--back-color);
    border-radius: 5px;
}

.container > #addFilter > label {
    margin: 20px 0px 5px 0px; /* topo | direita | inferior | esquerda */
}

.container > #addTasks {
    color: var(--text-color);
    font-family: "Chakra Petch", serif;
    width: 50vw;
    height: 50vh;
    padding: 100px;
    display: flex;
    flex-direction: column;
    background-color: var(--back-color);
    justify-content: center;
    border-radius: 25px;
    border: var(--border-default);
    box-shadow: var(--menus-shadow); /* distância x | distância y | blur | cor */
}

.container > #addTasks > select {
    color: var(--text-color);
    font-family: "Chakra Petch", serif;
    background-color: var(--back-color);
    border-radius: 5px;
}

.container > #addTasks > label {
    margin: 20px 0px 5px 0px; /* topo | direita | inferior | esquerda */
}

.container > #addTasks > input {
   background-color: transparent;
   border: var(--border-default);
   border-radius: 5px;
   outline: none;
   color: var(--text-color);
   font-family: "Chakra Petch", serif;
   padding-left: 5px;
}

.container > #addTasks > #addTaskButton {
    margin-top: 30px;
}

.container > #addTasks > #closeTaskMenuButton {
    margin: 20px 0px; /* cima e baixo | esquerda e direita */
}
 